<div>
  <form [formGroup]="form">
    <div class="row" style="padding-top: 10px">
      <div class="col-xs-12">
        <div class="search-box">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="search-icon fa fa-search"></i>
            </div>
            <input class="search-input form-control" placeholder="{{placeholder}}" formControlName="q">
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let filter of filters" class="form-row">
      <surveyor-search-form-filter [filter]="filter" [form]="form"></surveyor-search-form-filter>
    </div>
  </form>
</div>
