<div class="row">

  <form class="col-xs-12" [formGroup]="form">

    <label [attr.for]="filter.key"><b>{{filter.label}}</b></label>

    <div [ngSwitch]="filter.controlType">

      <input *ngSwitchCase="'textbox'" [formControlName]="filter.key"
             [id]="filter.key" [type]="filter.type">

      <select *ngSwitchCase="'dropdown'" [id]="filter.key" [formControlName]="filter.key">
        <option *ngFor="let opt of filter.options" [value]="opt.key">{{opt.value}}</option>
      </select>

      <div *ngSwitchCase="'checkboxes'" class="checkboxes col-xs-12">
        <ul [formGroupName]="filter.key">
          <li *ngFor="let opt of filter.options">
            <!--<input [id]="opt.key" [formControlName]="opt.key" type="checkbox">-->
            <label class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" [id]="opt.key" [formControlName]="opt.key" />
              <span class="custom-control-indicator"></span>
              {{opt.value}}
            </label>
          </li>
        </ul>
      </div>

    </div>

  </form>

</div>
