<!-- Fixed Toolbar Header -->
<!--
<nav #navbar id="navbar" class="navbar navbar-inverse bg-info navbar-static-top d-flex justify-content-between">
  <span class="align-self-center">
    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="sidenavService.show()">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" [routerLink]="['/']">
      <span #headerLeft></span>
    </a>
  </span>

  <div class="hidden-sm-down">
    <form class="form-inline justify-content-center">
      <input class="form-control" type="text" placeholder="Search..." style="width: 400px;">
    </form>
  </div>

  <div class="navbar-nav">
    <div #headerRight></div>
  </div>
</nav>

<surveyor-sidenav position="left"></surveyor-sidenav>
-->
<!--
<div mdl>
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="applicationyout-title" #headerLeft></span>
      <div class="applicationyout-spacer"></div>
      <nav class="mdl-navigation applicationyout--large-screen-only" #headerRight></nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="applicationyout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
</div>
-->
<mdl-layout-header-row [style.background-color]="brandColor">
  <mdl-layout-title>
    <span #headerLeft></span>
  </mdl-layout-title>
  <mdl-layout-spacer></mdl-layout-spacer>
  <nav class="mdl-navigation">
    <span #headerRight></span>
  </nav>
</mdl-layout-header-row>
