<div>
  <span class="hidden-tablet-down">
    <span *ngIf="primaryActions && primaryActions.length > 0">
      <span *ngFor="let action of primaryActions">
        <button mat-button mat-raised-button color="primary" (click)="action.run()" [disabled]="!action.enabled"
                style="font-size: 16px; font-weight: 400;">{{action.text}}</button>
      </span>
    </span>

    <span *ngIf="secondaryActions && secondaryActions.length > 0">
      <button mat-button mat-raised-button color="primary" [matMenuTriggerFor]="actionMenu" style="font-size: 16px; font-weight: 400;">
        Actions <i class="fa fa-caret-down"></i>
      </button>
      <mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let action of secondaryActions" [ngClass]="{disabled: !action.enabled}" (click)="action.enabled ? action.run() : ''">
          {{action.text}}
        </button>
      </mat-menu>
    </span>
  </span>

  <span class="hidden-desktop-up">
    <span *ngIf="primaryActions?.length || secondaryActions?.length">
      <button mat-button color="primary" mat-raised-button [matMenuTriggerFor]="actionMenu" style="font-size: 16px; font-weight: 400;">
        Actions <i class="fa fa-caret-down"></i>
      </button>
      <mat-menu #actionMenu="matMenu" yPosition="below" xPosition="before" [overlapTrigger]="false">
        <button mat-menu-item *ngFor="let action of primaryActions" [ngClass]="{disabled: !action.enabled}" (click)="action.enabled ? action.run() : ''">
          {{action.text}}
        </button>
        <button mat-menu-item *ngFor="let action of secondaryActions" [ngClass]="{disabled: !action.enabled}" (click)="action.enabled ? action.run() : ''">
          {{action.text}}
        </button>
      </mat-menu>
    </span>
  </span>
</div>
