<div *ngIf="form" [formGroup]="form">
  <div style="position: relative">
    <div class="mdl-textfield mdl-js-textfield input-box">
      <input #inputBox class="mdl-textfield__input" type="text" id="sample1" formControlName="{{inputName}}"
             (keyup)="filterItems(inputBox)" (blur)="toggle(inputBox, myPopover, 'hidden')"
             (focus)="toggle(inputBox, myPopover, 'visible')">
      <label class="label" for="sample1" *ngIf="inputBox.value == '' || !inputBox.value">{{title}}</label>
    </div>
    <div class="search-box mdl-shadow--6dp" #myPopover style="visibility:hidden" [style.width.px]="width"
         [style.max-height.px]="200">
      <div class="item-wrapper" *ngFor="let item of filteredItems" (click)="itemSelect(item)">
        <span class="item mdl-list__item">{{item}}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!form">
  <div style="position: relative">
    <div class="mdl-textfield mdl-js-textfield input-box" >
      <input #inputBox class="mdl-textfield__input" type="text" id="form"
             (keyup)="filterItems(inputBox)" (blur)="toggle(inputBox, myPopover, 'hidden')"
             (focus)="toggle(inputBox, myPopover, 'visible')">
      <label class="label" for="form" *ngIf="inputBox.value == '' || !inputBox.value">{{title}}</label>
    </div>
    <div class="search-box mdl-shadow--6dp" #myPopover style="visibility:hidden" [style.width.px]="width"
         [style.max-height.px]="200">
      <div class="item-wrapper" *ngFor="let item of filteredItems" (click)="itemSelect(item)">
        <span class="item mdl-list__item">{{item}}</span>
      </div>
    </div>
  </div>
</div>
